// PALETTE
$body-background: #2e2e2e;
$body-font: Courier;
$bttn-background: #fff;

// FONTS
$title-color: #fff;
$entry-mood-color: #000;
$entry-mood-font-size: 16px;
$entry-date-color: #787878;
$entry-date-font-size: 14px;
$entry-title-color: #000;
$entry-title-font-size: 24px;
$bttn-font-color: #000;

// SIZES
$card-min-height: 200px;
$card-min-width: 300px;
